<%- include('assets/navbar') %> <%- include('assets/header') %>

<a style=" justify-content: center;display: flex; margin: auto; padding-top: 10px;">
    <img style="width: 50%" src="https://c0.wallpaperflare.com/preview/302/576/24/child-reading-book-girls.jpg"> 
</a>
    <!-- <h1>Home page</h1> -->


<%- include('assets/footer') %>